.idea
env/
venv/
.vscode

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
log/*.log

lambda/auth.json

data/kafka/data/*
data/zk/data/*
!data/kafka/data/.gitkeep
!data/zk/data/.gitkeep
