{% extends 'base.html' %}

{% block title %}
    Edit pot
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}


{% block content %}
    <form method="post" class="login-form">
        <label for="id">ID</label>
        <input id="id" type="text" readonly value="{{ pot['id'] }}">
        <br/>
        <label for="name">Name</label>
        <input name="name" id="name" type="text" required value="{{ pot['name'] }}">
        <br/>
        <label for="description">Description</label>
        <input name="description" id="description" type="text" value="{{ pot['description'] }}">
        <br/>
        <label for="moisture_value">Moisture threshold</label>
        <input type="number" step=".000001" name="moisture_value" id="moisture_value" value="{{ pot['moisture_value'] }}"
               placeholder="0 to 100 percent" required>
        <br/>
        <label for="water_value">Watering time</label>
        <input type="number" name="water_value" id="water_value" placeholder="in seconds"
               value="{{ pot['water_value'] }}" required>
        <br/>
        <label for="created">Created</label>
        <input id="created" type="text" readonly value="{{ pot['created'] }}">
        <br/>
        <input type="submit" value="Edit">
    </form>
{% endblock %}