<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Water</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block styles %}{% endblock %}
</head>

<body>
<nav>
    <h1><a href="{{ url_for('index') }}">Water</a></h1>
    <ul>
        <li>NYC Time: <span id="server-time"></span></li>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('water.pots_index') }}">Pots</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            {#            <li><a href="{{ url_for('auth.register') }}">Register</a></li>#}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</section>
</body>
</html>